<div class="book-grid">
  <div class="book-card" *ngFor="let book of books">
    <img class="book-card__image" [src]="book.imageUrl" [alt]="book.title" />
  
    <h3 class="book-card__title">{{ book.title }}</h3>
  
    <p class="book-card__author"><strong>Author:</strong> {{ book.author }}</p>
    <p class="book-card__genre"><strong>AboutThisBook:</strong> {{ book.AboutThisBook }}</p>
    <p class="book-card__rating">
      <strong>Rating:</strong>
      <span class="stars">
        <span *ngFor="let star of [].constructor(book.rating)">★</span>
        <span *ngFor="let emptyStar of [].constructor(5 - book.rating)">☆</span>
      </span>
    </p>
  
    <div class="button-container"></div>
    <button class="button butto--details">Borrow</button>
  </div>
</div>
